@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.terminal {
    position: absolute;
    background-color: rgba(10, 10, 10, 0.527);
    color: #fff;
    border: 2px solid #fff;
    width: 1024px;
    height: 560px;
    cursor: grab;
    top: auto;
    left: auto;
    padding: 15px;
}

.screen {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.prompt {
    margin-right: 5px;
}

.neofetch {
    display: flex;
}

.cursor {
    display: inline-block;
    width: 10px;
    animation: pisca 1s steps(1, start) infinite;
}

.error {
    color: #db2626 !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
}


#pos-info {
    position: fixed;
    z-index: 2;
    color: #ffffff;
}

@keyframes pisca {
    50% {
        opacity: 0;
    }
}