@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    user-select: none;
}

.terminal {
    position: absolute;
    background-color: #1a1a1aab;
    color: #fff;
    border: 2px solid #fff;
    width: 1024px;
    height: 560px;
    cursor: grab;
    top: auto;
    left: auto;
    padding: 15px;
}

.screen {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.prompt {
    margin-right: 5px;
}

.neofetch {
    display: flex;
}

.cursor {
    display: inline-block;
    width: 10px;
    animation: pisca 1s steps(1, start) infinite;
}

.error {
    color: #db2626 !important;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a8a;
    overflow: hidden;
}

.time {
    padding: 15px;
    position: fixed;
    z-index: 2;
    color: #ffffff;
}

.config {
    font-weight: 300;
    position: absolute;
    width: 500px;
    height: 500px;
    top: auto;
    left: auto;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #0c0c0cdc;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

.config > section {
    display: flex;
    padding: 15px;
}

.config > section label {
    padding: 10px;
}

.config-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    transition: all 750ms ease-in-out;
}

.config-icon:hover {
    transform: scale(1.3) rotate(60deg);
    cursor: pointer;
}

.config-show {
    opacity: 100%;
    transform: scale(1);
}

@keyframes pisca {
    50% {
        opacity: 0;
    }
}

@media (max-width: 1279px) {
    body {
        background-color: #000000;
    }

    .container {
        display: none;
    }

    .screen {
        display: none;
    }

    .terminal {
        display: none;
    }

}